[Unit]
Description=JANUS
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
WorkingDirectory=/home/pi/janus/c/
ExecStart=/usr/bin/python3 /home/pi/janus/c/JANUS
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target




